.html_sans_bouton{
	width: 35.2%;
	min-width: 600px;
	
	margin: auto;
	margin-top: 2.15%;
	margin-bottom: 2.2%;
}
/* font-family
Arial Black / Comic Sans MS / Courier New / Georgia / Impact / Times New Roman / Trebuchet MS / Verdana.
*/


p, blockquote{
	color: #303030;
	font-size: 18px;
	line-height: 28px;
	
	margin-top: 17px;
	margin-bottom: 0px;
}

blockquote{
	margin-bottom: 18px;
}

ul{
	margin-top: 19px;
	margin-bottom: 0px;

	line-height: 20px;
}
li{
	color: #303030;
	font-size: 18px;
	line-height: 29px;
}

h1,h2,h3,h4,h5,h6{
	color: #404040;
}

h1{
	font-size: 36px;

	margin-top: 0px;
	margin-bottom: 25px;
}
h2{
	font-size: 27px;
	line-height: 33px;

	margin-top: 23px;
	margin-bottom: 25px;
}
h3{
	font-size: 21px;

	margin-top: 20px;
	margin-bottom: 22px;
}
h4{
	font-size: 18px;
	padding-top: 1px;
	
	margin-top: 0px;
	margin-bottom: 22px;
}

#line_eight{
	font-family: Arial;
}

#tag_color{
	font-family: Arial;
}

#butt{
	background-color: white;
	width: 200px;
	height: 50px;
}
button#butt{
	float: right;
}




